* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.task-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#taskInput {
    width: 70%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#addTaskButton {
    width: 25%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#addTaskButton:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.task-text {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

.check-icon {
    margin-right: 10px;
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
}

.check-icon.checked {
    color: #4CAF50; /* Verde para checked */
}

.remove-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.remove-btn:hover {
    background-color: #e41e14;
}

button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e41e14;
}

.timer-container {
    margin-top: 20px;
    text-align: center;
}

#startStopButton {
    background-color: #2196F3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startStopButton:hover {
    background-color: #0b7dda;
}

#resetButton {
    background-color: #ff9800;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#resetButton:hover {
    background-color: #fb8c00;
}

/* Novo estilo para tarefas concluídas */
.completed {
    color: #888;
    text-decoration: line-through;
}
